# This file has been put here by anisble.
# For more info see https://github.com/kotobun/autorice.git

# Please do not change this file by hand unless you are sure
# you are not going to run playbook against this host or your
# changes will be lost on next playbook run.

Section "InputClass"
        Identifier "system-keyboard"
        MatchIsKeyboard "on"
        Option "XkbLayout" "us,ru"
	Option "XkbOptions" "grp:alt_shift_toggle"
EndSection
